.sample {
  display: inline;
}
.card-logo {
  --width: 160px;
  --height: 100px;
  margin-left: 1rem;
  $path: '../../assets/cc-input';
  display: inline-block;

  width: var(--width);
  height: var(--height);
  background-size: var(--width) var(--height);

  &.small {
    width: calc(var(--width) / 4);
    height: calc(var(--height) / 4);
    background-size: calc(var(--width) / 4) calc(var(--height) / 4);
  }

  &.large {
    width: calc(var(--width) * 1.5);
    height: calc(var(--height) * 1.5);
    background-size: calc(var(--width) * 1.5) calc(var(--height) * 1.5);
  }

  &.card-logo-visa {
    background-image: url('../../assets/cc-input/visa.svg');
  }

  &.card-logo-mastercard {
    background-image: url('../../assets/cc-input/mastercard.svg');
  }

  &.card-logo-american-express {
    background-image: url('../../assets/cc-input/american-express.svg');
  }

  &.card-logo-unknown {
    background-image: url('../../assets/cc-input/unknown.svg');
  }
}
